.jumbotron-fluid {
    background: url('images/NYC-W1920.jpg') no-repeat;
    text-shadow: 2px 2px 2px black;
}

hr {
    border-top: .3rem double grey;
    margin: 0rem 4rem .5rem 4rem;
}

.main-content {
    margin-top: -1rem;
}

.navbar-brand {
    font-family: "Lobster";
}

.main-content {
    border-radius: 1rem;
    border-color: black;
    border-style: solid;
    border-width: .2rem;
}

.mini {
    font-size: .2rem;
}